[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# QA
pre-commit = "*"
# Examples
trafficbench = {editable = true, extras = ["glue","lognplot","dev","test"], path = "./py_package"}
# useful tools
vitables = "*"  # plain PyTables viewer (for details see https://vitables.org)

[dev-packages]

[pipenv]
allow_prereleases = false
